* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;    
}

header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px;
}

header a {
    color: whitesmoke;
    font-weight: 700;
    padding: 10px;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    gap: 80px;
    padding: 64px 80px;
}

footer li {
    list-style: none;
    padding: 10px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer .title {
    color: white;
    display: block;
    font-weight: 700;
    margin-bottom: 24px;
}

footer p {
    color: white;
    padding-top: 24px;
}