* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;    
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px;
}

header a {
    color: whitesmoke;
    font-weight: 700;
    padding: 10px;
    text-decoration: none;
}

#word {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px 80px;
    position: relative;
    min-height: 600px;
}

#word  h2, p {
    color: black;
    padding: 24px 80px;
}

.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

#professores {
    padding: 80px;
}

.teacher-galery {
    display: flex;
    height: 20rem;
    gap: 1rem;
}

.teacher-galery > div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}

.teacher-galery > div:hover {
    flex: 5;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    gap: 80px;
    padding: 64px 80px;
    color: white;
}

footer li {
    list-style: none;
    padding: 10px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer .title {
    display: block;
    font-weight: 700;
    margin-bottom: 24px;
}

footer p {
    padding-top: 24px;
}